body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}

.container{
  width:1170px;
  padding:0px 15px 0px 15px;
  margin:auto;
}

.top-wrapper{
  padding:180px 0px 100px 0px;
  background-image:url(https://github.com/tomoki-music/tomusic-lp/blob/main/tomusic-lp-image.jpg.jpg?raw=true);
  color:white;
  background-size:cover;
  text-align:center;
}

.top-wrapper h1{
  opacity:0.7;
  font-size:45px;
  letter-spacing:5px;
}

.top-wrapper p{
  opacity:0.7;
}

.btn{
  padding:8px 24px 8px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius:4px;
}

.btn:hover{
  opacity:1;
}

.signup{
  background-color:#239b76;
}

.facebook{
  background-color:#3b5998;
  margin-right:10px;
}

.twitter{
  background-color:#55acee;
}

.btn-wrapper{
  margin:20px 0px 20px 0px;
}

.btn-wrapper p{
  margin:10px 0px 10px 0px;
}

.fab{
  margin-right:5px;
}

header{
  height:80px;
  background-color:rgba(34, 49, 52, 0.9);
  position:fixed;
  top:0;
  z-index:10;
}

.logo{
  widht:125px;
  margin-top:10px;
  border-radius:4px;
}

.header-left{
  float:left;
}

.header-right{
  float:right;
  background-color:rgba(255, 255, 255, 0.3);
  tansition:all 0.5s;
}

.header-right:hover{
  background-color:rgba(255, 255, 255, 0.5);
}

.header-right a{
  line-height:80px;
  padding:0px 25px 0px 25px;
  color:white;
  display:block;
}

.lesson-wrapper{
  height:600px;
  padding-bottom:80px;
  background-color:#f7f7f7;
  text-align:center;
}

.heading{
  padding:60px 0px 30px 0px;
  color:#5f5d60;
}

.lesson{
  float:left;
  width:33%;

}

.lesson-icon{
  position:relative;
}

.lesson-icon p{
  position:absolute;
  top:300px;
  width:100%;
  color:black;
  background-color:rgba(255,255,255,0.8);
}

.txt-contents{
  width:80%;
  display:inline-block;
  margin-top:20px;
  font-size:12px;
  color:#b3aeb5;
}

.message-wrapper{
  border-bottom:1px solid #eee;
  padding-bottom:80px;
  text-align:center;
}

.message{
  background-color:blue;
  padding:15px 40px 15px 40px;
  cursor:pointer;
  box-shadow:0 7px #006655;
}


.heading h3{
  font-weight:normal;
}

.message:active{
  box-shadow:none;
  position:relative;
  top:7px;
}

footer img{
  width:125px;
}

footer p{
  color:#b3aeb5;
  font-size:12px;
}

footer{
  padding-top:30px;
}
